alpaca-py
yfinance
pandas
pandas-ta
finnhub-python
transformers
--extra-index-url https://download.pytorch.org/whl/cpu
torch
xgboost
scikit-learn
backtrader
quantstats
streamlit
plotly
apscheduler
python-dotenv
SQLAlchemy
psycopg2-binary
bcrypt
joblib
